/* Poppins Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

/* CSS Variables */
:root {
    --text-color: #3A3A3A;
    --bg-color: whitesmoke;
    --main-color: #E02C6D;
    --title-color: rgba(120, 120, 133, 1);

    --h1-font: 3.25rem;
    --h2-font: 1.75rem;
    --p-font: 1.15rem;
}

/* Start Repeated Style */
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.section_gap {
    margin: 120px auto;
}

.flex {
    display: flex;
    align-items: center;
}

.main_clr {
    color: var(--main-color)
}

.btn {
    color: whitesmoke;
    background-color: var(--main-color);
    padding: 14px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .35s ease;
}

.btn:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: scale(1.05);
}

.btn i {
    margin-left: 8px;
}


/* End Repeated Style */




/* _______Header_______*/
.navbar {
    padding: 1.8rem 0;
    justify-content: space-between;
}

.logo h2 {
    font-size: var(--h2-font);
    font-weight: 700;
    letter-spacing: 1px;
}

.nav_links {
    gap: 1rem;
}


.nav_links a {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    transition: all .35s;
}

.nav_links a:hover {
    color: var(--main-color);
}

.nav_links .list {
    border: 1px solid transparent;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all .35s;
}

.nav_links .list:hover {
    transform: scale(1.05);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.nav_icon {
    margin-left: 10px;
    transition: all .35s;
}

.nav_icon:hover {
    transform: scale(1.05) translateY(-5px);
}

/* _______Banner______ */
.banner {
    justify-content: space-between;
    margin-top: 80px;
}

.banner_text h1 {
    max-width: 580px;
    font-size: var(--h1-font);
    font-weight: 700;
    line-height: 70px;
}

.banner_text p {
    color: var(--title-color);
    font-size: var(--p-font);
    font-weight: 400;
    margin: 1rem 0 2rem;
}

.banner_img {
    position: relative;
}

.banner_img img {
    width: 100%;
}

.circle {
    position: absolute;
    top: 0;
    z-index: -1;
}

.circle img {
    filter: contrast(90%);
}

/* Company Section */
.company_sec {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    position: relative;
    padding: 40px 0;
}

.company_sec::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.15), transparent);
}

.company_sec::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.15), transparent);
}

/* Popular Collection */
.cards_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.collections .section_titles {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

.collection_card {
    background-color: #fff;
    max-width: 400px;
    border-radius: 14px;
    padding: 17px 14px;
}

.collection_card img {
    width: 100%;
}

.collection_card h2 {
    font-size: var(--h2-font);
    font-weight: 500;
    line-height: 40px;
    margin: 16px 0 6px;
}
.card_price {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 6px;
}

.card_icons {
    margin-bottom: 6px;
}

.card_icons .rate {
    margin-left: 10px;
}

.card_icons i {
    color: #fb8200;
    font-size: 14px;
}

.card_descrip {
    color: var(--title-color);
}

.see_more {
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin: 30px 0;
    text-align: right;
    color: var(--main-color);
}

/* Featured Section */
.featured_sec {
    justify-content: space-evenly;
}

.featured_text {
    max-width: 610px;
    text-align: center;
}

.featured_text h2 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 60px;
}

.featured_text p {
    color: var(--title-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    margin: 15px 0;
}


.featured_img img {
    width: 100%;
}

/* footer_container */
.footer_container {
    justify-content: center;
    background: #0A0826;
    padding: 50px;
    color: whitesmoke;
}

.footer_content h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.footer_content p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.footer_icon {
    margin-top: 15px;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: 500;
}

.footer_icon i {
    padding: 10px;
    background-color: #22213C;
    border-radius: 50%;
    cursor: pointer;
    transition: all .35s ease;
}

.footer_icon i:hover {
    color: var(--main-color);
    transform: scale(1.05) translateY(-5px);
}






/* Responsive Small Devices */
@media screen and (max-width: 576px) {
    /* Banner Section */
    .navbar,
    .nav_links {
        flex-direction: column;
    }

    .featured_sec {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .featured_text h2 {
        font-size: 1.5rem;
        line-height: 40px;
    }

    .banner_img{
        justify-items: center;
        margin-top: 30px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner_text {
        text-align: center;

    }

    .banner_text h1 {
        margin-top: 40px;
        font-size: 2.4rem;
    }

    .banner_text p {
        font-size: 1rem;
    }

    .see_more {
        text-align: center;
    }

    header,
    main {
        padding: 0 14px;
    }

    /* grid  */
    .company_sec {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .company_sec img:last-child {
        grid-column: 1 / -1;
    }

    .cards_container {
        grid-template-columns:  1fr;
    }

}
